
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .options {
        display: inline-block;
        margin-left: 16px;
        background-color: #3c8dbc;
        padding: 5px 15px;
        color: #FFF;
    }

   .AlertPopUP {
        position: absolute;
        height: auto;
        width: 350px;
        top: 238.992px;
        left: 508px;
        z-index: 9999999;
    }
</style>
<div class="box-body" id="divFillByAccountList">
    <div>
        <a class="btn btn-primary" href="/Account/Save" style="margin-bottom:20px; margin-top:20px;">Add New</a>

    </div>
    <br />
    <table id="dataGrid" class="table table-bordered table-striped"></table>
    @*<div id="pagingGrid"></div>*@
</div>


<div class="box-body" style="display:none" id="divForUpdateAccountList">

    <div class="row">
        <input type="hidden" id="dtAccountDate" />
        <input type="hidden" id="iAccountID" />
        <input type="hidden" id="strChassisNum" />
        
        <div class='form-group col-sm-4' id="divddlParty">
            <label>Party</label>
            <select class="form-control input-group-sm" id="ddlParty" name="DynamicParty" onchange='getParty(this);'>
                <option>Select Yard</option>
            </select>
        </div>

        @*<div class="form-group col-xs-4">
            <label>Party</label>
            <input id="strPartyName" class="form-control input-group-lg" type="text"
                   placeholder="Enter Party Name" />
        </div>*@
        
        @*<div class="form-group col-xs-4">
            <label>Debit</label>
            <input id="strDebit" class="form-control input-group-lg" type="text"
                   placeholder="Debit" />
        </div>
        <div class="form-group col-xs-4">
            <label>Credit </label>
            <input id="strCredit" class="form-control input-group-lg" type="text"
                   placeholder=" Credit" />
        </div>*@
        <div class="form-group col-xs-4">
            <label>Date </label>
            <input id="strAccountDate" class="form-control input-group-lg datepicker" type="text"
                   placeholder=" Enter drop off date..." />
        </div>
        <div class="form-group col-xs-4">
            <label>Amount(DHM) </label>
            <input id="strAmountInDHM" class="form-control input-group-lg" type="text" oninput="calculateAmountInYEN();"
                   placeholder="Enter Amount in DHM" />
        </div>
        @*<div class="form-group col-xs-4">
            <label>Amount(YEN) </label>
            <input id="strAmountInYEN" class="form-control input-group-lg" type="text" readonly/>
        </div>*@
        <div class="form-group col-xs-4">
            <label>Description </label>
            <input id="strDescription" class="form-control input-group-lg" type="text"
                   placeholder="Enter Description " />
        </div>
        @*<div class="form-group col-xs-4">
            <label>Conversion Rate</label>
            <input id="strConvRate" class="form-control input-group-lg" type="text" oninput="calculateAmountInYEN();"
                   placeholder="Enter Conversion Rate" />
        </div>*@
        <div class="options form-group col-xs-2" style="margin-top: 25px;">

            <label>Debit</label>
            <input type="radio" name="PaymentOption" id="rdbDebitOption" value="1" checked="checked" />
            &nbsp;
            <label>Credit</label>
            <input type="radio" name="PaymentOption" id="rdbCreditOption" value="2" />
        </div>
    </div>
    <br>
    <div id="dialog" class="AlertPopUP" style="display: none" align="center">
        Do you want to Save ?
    </div>
    <div id="dialog2" class="AlertPopUP" style="display: none" align="center">
        Do you want to Delete ?
    </div>
    <input type="button" style="margin-left: 360px;" class="btn btn-success col-md-1" id="btnSave" value="Save " />

    <input type="button" style="margin-left: 15px;" class="btn btn-warning col-md-2" value="Back To List" onclick="Cancel();">


</div>


<script type="text/javascript">

    function Cancel() {
        window.location.href = "/Account/Index";
    }

    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({ dateFormat: 'mm/dd/yy' }); //Initialise any date pickers

    });


  
</script>
<script>

    $(function () {

        $('#dataGrid').jqGrid({
            caption: "Account List",
            url: '/Account/GetAccountListData/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'GET',
            colNames: ['iAccountID', 'DebitCreditOptions', 'Party', 'Date', 'dtAccountDate', 'Amount(DHM)', 'Description', 'iAccountPartyID', 'strChassisNum', 'Action'],
            colModel: [
               
                  { name: 'iAccountID', index: 'iAccountID', hidden: true, hidedlg: true },
                   { name: 'DebitCreditOptions', index: 'DebitCreditOptions', hidden: true, hidedlg: true },
                { name: 'strPartyName', index: 'strPartyName', align: 'center' },
                //{ name: 'strDebit', index: 'strDebit', align: 'center', hidden: true, hidedlg: true },
                //{ name: 'strCredit', index: 'strCredit', align: 'center', hidden: true, hidedlg: true },
                { name: 'strAccountDate', index: 'strAccountDate', align: 'center' },

                  { name: 'dtAccountDate', index: 'dtAccountDate', hidden: true, hidedlg: true },

                { name: 'strAmountInDHM', index: 'strAmountInDHM', align: 'center' },
                //{ name: 'strAmountInYEN', index: 'strAmountInYEN', align: 'center' },
                { name: 'strDescription', index: 'strDescription', align: 'center' },
                //{ name: 'strConvRate', index: 'strConvRate', align: 'center' },
                  { name: 'iAccountPartyID', index: 'iAccountPartyID', hidden: true, hidedlg: true },
              { name: 'strChassisNum', index: 'strChassisNum', hidden: true, hidedlg: true },
                 {
                     name: 'Action', index: 'Action', align: 'center', width: 250, search: false, title: false,
                     formatter: function (cellvalue, options, rowObject) {

                         return "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Edit' onclick=\"editRowData('" + options.rowId + "');\"  />" + '   ' + "<input class='btn btn-danger' style='margin-right: 5%; ' type='button' value='Delete' onclick=\"DeleteAccountData('" + options.rowId + "');\"  />";
                     }

                 },

            ],
            width: 1050,
            height: 300,
            rowNum: 100000,
            loadonce: true,
            rownumbers: true,           
            ignoreCase: true,
        });
        jQuery("#dataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
    });



</script>


<script>


    var arr = new Array();

    function editRowData(rowID) {
        debugger
        //arr = new Array();
        $("#divFillByAccountList").hide();
        $("#divForUpdateAccountList").show();
        
        var rowData = jQuery("#dataGrid").getRowData(rowID);

        var iAccountID = rowData['iAccountID'];
        var iAccountPartyID = rowData['iAccountPartyID'];
        //var strPartyName = rowData['strPartyName'];
        //var strDebit = rowData['strDebit'];
        //var strCredit = rowData['strCredit'];
        var strAccountDate = rowData['strAccountDate'];
        var dtAccountDate = rowData['dtAccountDate'];
        var strAmountInDHM = rowData['strAmountInDHM'];
        //var strAmountInYEN = rowData['strAmountInYEN'];
        var strDescription = rowData['strDescription'];
        //var strConvRate = rowData['strConvRate'];
        var DebitCreditOptions = rowData['DebitCreditOptions'];
        var strChassisNum = rowData['strChassisNum'];

        $("input[name=PaymentOption][value=" + DebitCreditOptions + "]").prop('checked', true);

        $("#iAccountID").val(iAccountID);
        //$("#strPartyName").val(strPartyName);
        //$("#strDebit").val(strDebit);
        //$("#strCredit").val(strCredit);
        $("#strAccountDate").val(strAccountDate);
        $("#dtAccountDate").val(dtAccountDate);
        $("#strAmountInDHM").val(strAmountInDHM);
        //$("#strAmountInYEN").val(strAmountInYEN);
        $("#strDescription").val(strDescription);
        //$("#strConvRate").val(strConvRate);
        $("#strChassisNum").val(strChassisNum);
       
       
        $.ajax({
            url: "/Account/ShowPartyName",
            type: "Get",
            success: function (data) {
                $('#ddlParty').children().remove();
                $('#ddlParty').append('<option value="" >Select Party</option>');
                for (var i = 0; i < data.length; i++) {

                    //var option = new Option(data[i].strFirstName, data[i].iPartyID);

                    // $('#ddlParty' + j).append(option);
                    if (iAccountPartyID == data[i].iAccountPartyID) {

                        $('#ddlParty').append('<option value="' + data[i].iAccountPartyID + '" selected>' + data[i].strPartyName + '</option>');

                    }
                    else {
                        $('#ddlParty').append('<option value="' + data[i].iAccountPartyID + '">' + data[i].strPartyName + '</option>');
                    }

                }

                //$.each(data, function (i, party) {

                //    if (iYardID == party.iYardID) {
                //        $("#ddlYard").append('<option value="' + yard.iYardID + '" selected>' + yard.frontEndYardName + '</option>');
                //    }
                //    else {
                //        $("#ddlYard").append('<option value="' + yard.iYardID + '" >' + yard.frontEndYardName + '</option>');
                //    }


                //});
            }
        });


    }



   



    var arrAccountData = [];
    $("#btnSave").click(function () {

        $(function () {
            if ($(this).attr("rel") != "update") {
                $('#dialog').dialog('open');
                return false;
            }
        });

        $("#dialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Confirmation",
            width: 350,
            height: 160,
            zIndex: 10000,
            buttons: [
        {
            id: "Yes",
            text: "Yes",
            click: function () {
                debugger
                if ($("#rdbDebitOption").is(":checked")) {
                    var paymentStatus = 1;    //1 for Paid

                }
                else {
                    var paymentStatus = 2;  //2 for Credit
                }
                var iAccountID = $("#iAccountID").val();
                var iAccountPartyID = $("#ddlParty").val();
                //var strDebit = $("#strDebit").val();
                //var strCredit = $("#strCredit").val();
                var strAccountDate = $("#strAccountDate").val();
                var strAmountInDHM = $("#strAmountInDHM").val();
                //var strAmountInYEN = $("#strAmountInYEN").val();
                var strDescription = $("#strDescription").val();
                //var strConvRate = $("#strConvRate").val();
                var strChassisNum = $("#strChassisNum").val();
                var dtAccountDate = $("#dtAccountDate").val();
                var AccountData =
                      {
                          iAccountID: iAccountID,
                          iAccountPartyID: iAccountPartyID,
                          //strDebit: strDebit,
                          //strCredit: strCredit,
                          strAccountDate: strAccountDate,
                          dtAccountDate: strAccountDate,
                          strAmountInDHM: strAmountInDHM,
                          //strAmountInYEN: strAmountInYEN,
                          strDescription: strDescription,
                          //strConvRate: strConvRate,
                          DebitCreditOptions: paymentStatus,
                          strChassisNum: strChassisNum
                      }
                //arrAccountData.push(AccountData);
                SaveAccountData(AccountData);

                $(this).dialog('close');
            }

        },
        {
            id: "No",
            text: "No",
            click: function () {
                $(this).dialog('close');
            }
        }
            ]
        });

    });


    function SaveAccountData(model) {
        debugger;

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/Account/SaveEdit",
            data: JSON.stringify({ 'acntModel': model }),
            success: function (data) {

                alert("Account  Update Successfully");
                window.location.href = "/Account/Index";
            }
        });
    }



    //Delete Account
    function DeleteAccountData(rowId) {
 

        debugger;

        $(function () {
            if ($(this).attr("rel") != "update") {
                $('#dialog2').dialog('open');
                return false;
            }
        });

        $("#dialog2").dialog({
            modal: true,
            autoOpen: false,
            title: "Confirmation",
            width: 350,
            height: 160,
            zIndex: 10000,
            buttons: [
        {
            id: "Yes",
            text: "Yes",
            click: function () {

                //calling function here for update


                debugger
                $.ajax({
                    type: "POST",
                    url: "/Account/Delete",
                    cache: false,
                    data: JSON.stringify({ id: rowId }),
                    // data: JSON.stringify(purchase),
                    dataType: this.dataType,
                    contentType: "application/json; charset=utf-8",
                    success: function (Data) {

                        alert("Account  Deleted Successfully");
                        window.location.href = "/Account/Index";

                    }




                });
                $(this).dialog('close');
            }

        },
        {
            id: "No",
            text: "No",
            click: function () {
                $(this).dialog('close');
            }
        }
            ]
        });

    }
   
    ////Calculate Amount In YEN
    //function calculateAmountInYEN() {
    //    debugger
    //    var strAmountInDHM = parseFloat($('#strAmountInDHM').val());
    //    var strConvRate = parseFloat($('#strConvRate').val());
    //    var AmountInYEN = (strAmountInDHM * strConvRate).toFixed(3);
    //    if (!isNaN(AmountInYEN) && AmountInYEN >= 0)
    //    { $('#strAmountInYEN').val(AmountInYEN); } else { $('#strAmountInYEN').val("0"); }

    //}

</script>
<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>


<script src="~/Content/plugins/jsPDF/jspdf.debug.js"></script>
<script src="~/Content/plugins/jsPDF/jspdf.plugin.autotable.js"></script>
